In [3]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

In [4]:
import geopy
import geopandas

ModuleNotFoundError: No module named 'geopandas'

In [6]:
arrests = pd.read_csv('Arrests.csv')

In [7]:
arrests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17380 entries, 0 to 17379
Data columns (total 12 columns):
ArrestID              17380 non-null int64
ArrestDatetime        17380 non-null object
FirstName             17378 non-null object
HouseNumber           15450 non-null float64
LastName              17380 non-null object
MiddleName            16236 non-null object
NameSuffix            1610 non-null object
Statute               17362 non-null object
StatuteDescription    17362 non-null object
Street                16497 non-null object
Race                  17363 non-null object
Sex                   17372 non-null object
dtypes: float64(1), int64(1), object(10)
memory usage: 1.6+ MB

In [8]:
arrests.head()

,ArrestID,ArrestDatetime,FirstName,HouseNumber,LastName,MiddleName,NameSuffix,Statute,StatuteDescription,Street,Race,Sex
0,1001,2019-06-13T07:19:00.000Z,CHRISTOPHER,1505.0,STANLEY,DEAN,NaN,18.2-415,Disturbing the peace,UNIVERSITY AVE,Black,Female
1,1002,2019-06-13T06:59:00.000Z,GABRIEL,109.0,SANTOS,J,NaN,18.2-388,PROFANE SWEARING OR INTOXICATION IN PUBLIC,CULBRETH RD,White,Male
2,1003,2019-06-13T04:00:00.000Z,CAROLYN,350.0,RICE,PAIGE,NaN,18.2-111,Embezzlement,PARK ST,White,Female
3,1004,2019-06-13T00:02:00.000Z,MICHAEL,7051.0,COOPER,JEROME,NaN,19.2-306,PROBATION VIOLATION - TYPE NOT CLEAR FROM RECORD,LOUISA RD,Black,Male
4,1005,2019-06-12T18:15:00.000Z,Roy,606.0,Correll,Chapman,NaN,18.2-137(B)(i),"MONUMENT: INTENTIONAL DAMAGE, VALUE <$1000",E MARKET ST,White,Male

In [10]:
arrests['HouseNumberString'] = arrests['HouseNumber'].apply(lambda x: '' if np.isnan(x) else int(x))
arrests['Address'] = arrests['HouseNumberString'].astype(str)+' '+arrests['Street']+', Charlottesville VA'
arrests.to_csv('arrests-addresses.csv', columns=['Address'])

In [11]:
arrests.head(20)

,ArrestID,ArrestDatetime,FirstName,HouseNumber,LastName,MiddleName,NameSuffix,Statute,StatuteDescription,Street,Race,Sex,HouseNumberString,Address
0,1001,2019-06-13T07:19:00.000Z,CHRISTOPHER,1505.0,STANLEY,DEAN,NaN,18.2-415,Disturbing the peace,UNIVERSITY AVE,Black,Female,1505,"1505 UNIVERSITY AVE, Charlottesville VA"
1,1002,2019-06-13T06:59:00.000Z,GABRIEL,109.0,SANTOS,J,NaN,18.2-388,PROFANE SWEARING OR INTOXICATION IN PUBLIC,CULBRETH RD,White,Male,109,"109 CULBRETH RD, Charlottesville VA"
2,1003,2019-06-13T04:00:00.000Z,CAROLYN,350.0,RICE,PAIGE,NaN,18.2-111,Embezzlement,PARK ST,White,Female,350,"350 PARK ST, Charlottesville VA"
3,1004,2019-06-13T00:02:00.000Z,MICHAEL,7051.0,COOPER,JEROME,NaN,19.2-306,PROBATION VIOLATION - TYPE NOT CLEAR FROM RECORD,LOUISA RD,Black,Male,7051,"7051 LOUISA RD, Charlottesville VA"
4,1005,2019-06-12T18:15:00.000Z,Roy,606.0,Correll,Chapman,NaN,18.2-137(B)(i),"MONUMENT: INTENTIONAL DAMAGE, VALUE <$1000",E MARKET ST,White,Male,606,"606 E MARKET ST, Charlottesville VA"
5,1006,2019-06-12T13:56:00.000Z,MATTHEW,606.0,WALLACE,TYLER,NaN,18.2-137(B)(i),"MONUMENT: INTENTIONAL DAMAGE, VALUE <$1000",E MARKET ST,White,Male,606,"606 E MARKET ST, Charlottesville VA"
6,1007,2019-06-12T01:16:00.000Z,daniela,3904.0,gilbert,kirilova,NaN,18.2-181,BAD CHECK: LARCENY >=$200,VILLAGE TOWNES WALK,White,Female,3904,"3904 VILLAGE TOWNES WALK, Charlottesville VA"
7,1008,2019-06-12T01:16:00.000Z,daniela,3904.0,gilbert,kirilova,NaN,18.2-181,BAD CHECK: LARCENY >=$200,VILLAGE TOWNES WALK,White,Female,3904,"3904 VILLAGE TOWNES WALK, Charlottesville VA"
8,1009,2019-06-12T00:26:00.000Z,DAVID,NaN,TAYLOR,LEWIS,NaN,18.2-250(A)(a),MARIJUANA SYNTHETIC:POSSES CANNABIMIMETIC AGENT,EMARKET ST,Black,Male,,"EMARKET ST, Charlottesville VA"
9,1010,2019-06-12T00:26:00.000Z,DAVID,NaN,TAYLOR,LEWIS,NaN,19.2-128(B),FAILURE TO APPEAR: ON FELONY OFFENSE,EMARKET ST,Black,Male,,"EMARKET ST, Charlottesville VA"
10,1011,2019-06-11T20:18:00.000Z,THERESA,160.0,MAUPIN,MCCLANAHAN,NaN,18.2-456,FTA/Capias,PEREGORY LN,White,Female,160,"160 PEREGORY LN, Charlottesville VA"
11,1012,2019-06-11T12:44:00.000Z,FUENTES,1610.0,BRIGGS,FERNANDEZ,NaN,19.2-123,BAILEE: VIOL COND OF RELEASE/PRETRIAL,AVON STREET EXT,Black,Male,1610,"1610 AVON STREET EXT, Charlottesville VA"
12,1013,2019-06-11T12:10:00.000Z,MARCUS,606.0,MONTGOMERY,ANTONIO,NaN,19.2-306,PROBATION: VIOLATION ON MISDEMEANOR OFFENSE,E MARKET ST,Black,Male,606,"606 E MARKET ST, Charlottesville VA"
13,1014,2019-06-10T15:13:00.000Z,MARQUICE,1610.0,WALLER,ANTHONY,NaN,19.2-306,PROBATION: VIOLATION ON FELONY OFFENSE,AVON STREET EXT,Black,Male,1610,"1610 AVON STREET EXT, Charlottesville VA"
14,1015,2019-06-10T04:00:00.000Z,Tiffany,600.0,Michie,Shantel,NaN,19.2-306,PROBATION VIOLATION - TYPE NOT CLEAR FROM RECORD,E MARKET ST,Black,Female,600,"600 E MARKET ST, Charlottesville VA"
15,1016,2019-06-10T00:00:00.000Z,Michael,2025.0,McNeil,Charles,NaN,18.2-456,FTA/Capias,IVY RD,Black,Male,2025,"2025 IVY RD, Charlottesville VA"
16,1017,2019-06-09T07:53:00.000Z,MEGHAN,NaN,SHEA,ELIZABETH,NaN,904,DRIVE UNDER THE INFLUENCE,IVY RD,White,Female,,"IVY RD, Charlottesville VA"
17,1018,2019-06-09T00:25:00.000Z,William,101.0,Gentry,D,NaN,18.2-57(A),Simple Assault - Citizen,W MAIN ST,White,Male,101,"101 W MAIN ST, Charlottesville VA"
18,1019,2019-06-08T22:58:00.000Z,KRISTINA,NaN,NAPIER,CAROL,NaN,18.2-456,CONTEMPT OF COURT: W/ JURY,NaN,White,Female,,NaN
19,1020,2019-06-08T21:39:00.000Z,Hamidullah,606.0,Habib,NaN,NaN,18.2-57.2(A),Domestic Assault - Simple,E MARKET ST,White,Male,606,"606 E MARKET ST, Charlottesville VA"

To convert the date, we will split it into two columns. One will be a float64 in units of months (do we ignore the year?). The other will be a float64 in units of hours.

In [5]:
def null_values(df, return_table=True):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * mis_val / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:, 1] != 0].sort_values(
        '% of Total Values', ascending=False).round(4)
    print("There are", len(df.columns), "columns in total.")
    print("There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
    if return_table:
        return mis_val_table_ren_columns

The only nonmissing features are the ID, the date and time, and the last name.

In [5]:
miss_values = null_values(arrests)
pd.set_option('display.max_rows', None)
miss_values

There are 12 columns in total.
There are 9 columns that have missing values.

                    Missing Values  % of Total Values
NameSuffix                   15770            90.7365
HouseNumber                   1930            11.1047
MiddleName                    1144             6.5823
Street                         883             5.0806
Statute                         18             0.1036
StatuteDescription              18             0.1036
Race                            17             0.0978
Sex                              8             0.0460
FirstName                        2             0.0115

To impute missing data in 'Sex', all nan values should be replaced with 'Unknown'.

In [7]:
arrests['Sex'].unique()

array(['Female', 'Male', nan, 'Unknown'], dtype=object)

The two rows without first names are interesting. In the row with ID 2262, the last name is a placeholder 'JOHN DOE'.

In [23]:
arrests.loc[arrests['FirstName'] != arrests['FirstName']]

,ArrestID,ArrestDatetime,FirstName,HouseNumber,LastName,MiddleName,NameSuffix,Statute,StatuteDescription,Street,Race,Sex
696,1697,2019-03-15T00:38:00.000Z,NaN,NaN,PURPLERAIN,NaN,NaN,905,DRUNKENESS,BROWN ST,Black,Female
5261,2262,2018-12-24T13:06:00.000Z,NaN,1131.0,JOHN DOE,NaN,NaN,18.2-388,PROFANE SWEARING OR INTOXICATION IN PUBLIC,5TH ST SW,White,Male

What are 'nwt', 'doc', and 'jpg' doing in the 'Race' feature?

In [ ]:
arrests.loc[arrests['Race'] == 'nwt']

In [ ]:
arrests.loc[arrests['Race'] == 'doc']

We see that there are multiple descriptions that correspond to the same statute. Therefore, we drop the StatuteDescription feature because it does not add anything to the data.

If we keep the names, it is reasonable to perform feature engineering that assigns a unique number to a full name, including the suffix if applicable, since we see that one person can and often commits more than one offense. We will have to convert every name to uppercase, since the capitalization is inconsistent.

There are 472 unique statutes. A OneHotEncoder will result in the number of features increasing to about 480.

In [24]:
arrests['NameSuffix'].unique()

array([nan, 'Jr', 'II', 'III', 'Sr', 'IV'], dtype=object)

In [ ]:
arrests['StatuteDescription'].value_counts()

In [ ]:
arrests['Statute'].value_counts()

In [19]:
arrests['Statute'].nunique()

472

## Data cleaning

We drop the ArrestID and StatuteDescription because the former is useless and the latter is redundant with Statute. In fact, there are many descriptions that can potentially refer to the same statute. We also drop the names since there are too many unique names for an analysis to be useful with them kept.

In [217]:
from sklearn.preprocessing import OneHotEncoder

In [218]:
arrests = pd.read_csv('Arrests.csv')

In [219]:
useless_and_redundant = ['ArrestID', 'StatuteDescription']
names = ['FirstName', 'LastName', 'MiddleName', 'NameSuffix']
arrests.drop(useless_and_redundant, axis=1, inplace=True)
arrests.drop(names, axis=1, inplace=True)

In [220]:
arrests['Year'] = pd.to_datetime(arrests['ArrestDatetime']).apply(
    lambda x: float(x.strftime('%Y')) if x == x else np.nan)
arrests['Month'] = pd.to_datetime(arrests['ArrestDatetime']).apply(
    lambda x: float(x.strftime('%m')) if x == x else np.nan) 
arrests['Day'] = pd.to_datetime(arrests['ArrestDatetime']).apply(
    lambda x: float(x.strftime('%d')) if x == x else np.nan) 
arrests['Time'] = pd.to_datetime(arrests['ArrestDatetime']).apply(
    lambda x: float(x.strftime('%H')) + 1/60 * float(x.strftime('%M')) + 1/3600 * float(x.strftime('%S'))
    if x == x else np.nan)

In [221]:
def convert_housenumber(x):
    if x == x:
        return str(int(x))
    else:
        return ''

arrests['HouseNumber'] = arrests['HouseNumber'].apply(convert_housenumber)
arrests['Address'] = arrests['HouseNumber'] + ' ' + arrests['Street'] + ', CHARLOTTESVILLE, VA'
arrests.drop(['ArrestDatetime', 'HouseNumber', 'Street'], axis=1, inplace=True)

We will use OneHotEncoding for race and sex.

In [222]:
onehot = OneHotEncoder()

def convert_races(x):
    if x == 'Unknown' or x == 'nwt' or x == 'doc' or x == 'jpg' or x != x:
        return 'Unknown Race'
    else:
        return x

def convert_sex(x):
    if x == 'Unknown' or x != x:
        return 'Unknown Sex'
    else:
        return x
    
arrests['Race'] = arrests['Race'].apply(convert_races)    
arrests['Sex'] = arrests['Sex'].apply(convert_sex)

cat_onehot = arrests[['Race', 'Sex']]
mtx_onehot = onehot.fit_transform(cat_onehot).toarray()
df_onehot = pd.DataFrame(mtx_onehot, columns=np.concatenate(onehot.categories_))
arrests.drop(['Race', 'Sex'], axis=1, inplace=True)
arrests = pd.concat([arrests, df_onehot], axis=1)

In [223]:
arrests.head()

,Statute,Year,Month,Day,Time,Address,American Indian/Alaskan Native,Asian or Pacific Islander,Black,Unknown Race,White,Female,Male,Unknown Sex
0,18.2-415,2019.0,6.0,13.0,7.316667,"1505 UNIVERSITY AVE, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,18.2-388,2019.0,6.0,13.0,6.983333,"109 CULBRETH RD, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,18.2-111,2019.0,6.0,13.0,4.000000,"350 PARK ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,19.2-306,2019.0,6.0,13.0,0.033333,"7051 LOUISA RD, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,18.2-137(B)(i),2019.0,6.0,12.0,18.250000,"606 E MARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [224]:
miss_values = null_values(arrests)
pd.set_option('display.max_rows', None)
miss_values

There are 14 columns in total.
There are 2 columns that have missing values.

         Missing Values  % of Total Values
Address             883             5.0806
Statute              18             0.1036

We shall remove those entries with missing addresses and statutes.

In [225]:
arrests.dropna(subset=['Address', 'Statute'], how='any', inplace=True)

In [226]:
miss_values = null_values(arrests)
pd.set_option('display.max_rows', None)
miss_values

There are 14 columns in total.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [229]:
arrests.head(10)

,Statute,Year,Month,Day,Time,Address,American Indian/Alaskan Native,Asian or Pacific Islander,Black,Unknown Race,White,Female,Male,Unknown Sex
0,18.2-415,2019.0,6.0,13.0,7.316667,"1505 UNIVERSITY AVE, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,18.2-388,2019.0,6.0,13.0,6.983333,"109 CULBRETH RD, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,18.2-111,2019.0,6.0,13.0,4.000000,"350 PARK ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,19.2-306,2019.0,6.0,13.0,0.033333,"7051 LOUISA RD, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,18.2-137(B)(i),2019.0,6.0,12.0,18.250000,"606 E MARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5,18.2-137(B)(i),2019.0,6.0,12.0,13.933333,"606 E MARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
6,18.2-181,2019.0,6.0,12.0,1.266667,"3904 VILLAGE TOWNES WALK, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
7,18.2-181,2019.0,6.0,12.0,1.266667,"3904 VILLAGE TOWNES WALK, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
8,18.2-250(A)(a),2019.0,6.0,12.0,0.433333,"EMARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9,19.2-128(B),2019.0,6.0,12.0,0.433333,"EMARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [228]:
from geopy.extra.rate_limiter import RateLimiter

locator = geopy.Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [214]:
df = arrests.head(10)
# location = locator.geocode("Jefferson Park Ave, Charlottesville, VA")

In [215]:
df['Location'] = df['Address'].apply(geocode)
df['Point'] = df['Location'].apply(lambda loc: tuple(loc.point) if loc else None)
df[['Latitude', 'Longitude', 'Altitude']] = pd.DataFrame(df['Point'].tolist(), index=df.index)

In [216]:
arrests

,Statute,Year,Month,Day,Time,Address,American Indian/Alaskan Native,Asian or Pacific Islander,Black,Unknown Race,White,Female,Male,Unknown Sex,Location,Point,Latitude,Longitude,Altitude
0,18.2-415,2019.0,6.0,13.0,7.316667,"1505 UNIVERSITY AVE, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"(1505, University Avenue, Carr's Hill, Albemar...","(38.0347274716981, -78.5003410377359, 0.0)",38.034727,-78.500341,0.0
1,18.2-388,2019.0,6.0,13.0,6.983333,"109 CULBRETH RD, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,"(109, Culbreth Road, Carr's Hill, Albemarle Co...","(38.0397303217111, -78.5038739193409, 0.0)",38.039730,-78.503874,0.0
2,18.2-111,2019.0,6.0,13.0,4.000000,"350 PARK ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,"(Levy Opera House Building, 350, Park Street, ...","(38.03165095, -78.4765571314293, 0.0)",38.031651,-78.476557,0.0
3,19.2-306,2019.0,6.0,13.0,0.033333,"7051 LOUISA RD, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,None,None,NaN,NaN,NaN
4,18.2-137(B)(i),2019.0,6.0,12.0,18.250000,"606 E MARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,"(Market Street, Downtown Mall, Vinegar Hill, C...","(38.0317527, -78.4819418, 0.0)",38.031753,-78.481942,0.0
5,18.2-137(B)(i),2019.0,6.0,12.0,13.933333,"606 E MARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,"(Market Street, Downtown Mall, Vinegar Hill, C...","(38.0317527, -78.4819418, 0.0)",38.031753,-78.481942,0.0
6,18.2-181,2019.0,6.0,12.0,1.266667,"3904 VILLAGE TOWNES WALK, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,None,None,NaN,NaN,NaN
7,18.2-181,2019.0,6.0,12.0,1.266667,"3904 VILLAGE TOWNES WALK, CHARLOTTESVILLE, VA",0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,None,None,NaN,NaN,NaN
8,18.2-250(A)(a),2019.0,6.0,12.0,0.433333,"EMARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,None,None,NaN,NaN,NaN
9,19.2-128(B),2019.0,6.0,12.0,0.433333,"EMARKET ST, CHARLOTTESVILLE, VA",0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,None,None,NaN,NaN,NaN

In [2]:
arrests['Address']

NameError: name 'arrests' is not defined